// breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 374px;

%mont-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

%mont-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
